{%extends 'base.html'%}

{% block content %}
<h1>join today!</h1>
<form method="POST" action="/join/">
  {% csrf_token %}
    <div class="mb-3">
    <input type="text" class="form-control"  aria-describedby="emailHelp"
    placeholder="First name" name="fname" value="{{fname}}"><br><br>

        
    <div class="mb-3">
    <input type="text" class="form-control" aria-describedby="emailHelp"
    placeholder="Last name" name="lname" value="{{lname}}">
    <br>
    </div>

    <div class="mb-3">
    <input type="text" class="form-control"  aria-describedby="emailHelp"
    placeholder="Age" name="age"value="{{age}}">
    <br>
    </div>

    <div class="mb-3">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Email Address" name ="email" value="{{email}}">
      <br>
    </div>

    <div class="mb-3">
      <input type="password" class="form-control" id="exampleInputPassword1"
      placeholder="Password" name="passwrd">
      <br>
    </div>

    <button type="submit" class="btn btn-secondary">signup</button>
  </form>

{% endblock%}


